.user-view-wrapper{
    position: relative;
    width:100%;
    
    .views{
        position:absolute;
        top:0;

    }
    .side-view{
        left:0;
        height:100vh;
        width:20%;
    }
    .main-view{
        right:0;
        width:80%;
        padding-left:4rem;
    }
}

.side-logo-container{
    margin-right:1rem;
    margin-left:1rem;
    margin-top:1rem;
    width:90px;
    height:40px;
    a{
        text-decoration: none;
        color:black;
    }
    .logo-image{
        object-fit:contain;
        width:100%;
        height:100%;
    }
}

// .user-side-bar{
//     position: relative;
//     width:100px;
// }
.user-side-bar{
    position: fixed;
	top: 0;
	left: 0;
	width: 20%;
    height: 100vh;
    box-shadow: 0px 5px 5px rgb(189,128,109);
    // background-color:rgb(204,154,134);
    // background-color:rgb(189,128,109);
    // background-color:rgb(140,117,106);
    // background-color:rgb(12,66,55);
    background-color: white;
    // border-right:1px solid black;
}
.user-items-container{
    // position: -webkit-sticky;
    // position: sticky;
    // position: fixed;
	// top: 0;
    // padding: 0 15px;
    // color:white;
    color:black;
    // background-color:rgb(12,66,55);
   
}
.user-items{
    padding-top:10px;
    // position: fixed;
   
    .side-user-options{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        ul{
            li{
                list-style: none;
                padding-bottom:0.5rem;
                padding-top:0.5rem;
                // padding-right:1rem;
                // padding-left:1rem;
                a{
                    text-decoration: none;
                    // padding:2rem 0rem;
                    // color:white;
                    color:black;
                    font-size:1.1rem;
                    // &:hover{
                    //     background-color:rgb(204,154,134);
                      
                    //  }
                }
                &:hover{
                    a{
                        color:rgb(12,66,55);
                    }
                   
                  
                }
            }
        }
    }
   
}
.side-user-image-container{
    width:100px;
    height:100px;
}
.side-user-image{
    border-radius:50%;
    width:100%;
    height:100%;
    object-fit: cover;
}
.user-image-container{
    width:150px;
    height:150px
}
.user-image{
    border-radius:50%;
    width:100%;
    height:100%;
    object-fit: cover;
}
.activity-card-container{
    display:grid;
    grid-gap:1rem;
    grid-template-columns:repeat(auto-fill, minmax(310px,1fr));
    // margin-left:10rem;
    // margin-right:10rem;
    margin-top:2rem;
    margin-bottom:2rem;
    justify-items: center;
}
.activity-card{
    width:20rem;
    height:20rem;
    box-shadow:0px 4px 8px 0px grey;
    transition: all 0.5s ease;
    cursor: pointer;
    
    &:hover{
        box-shadow: 0px 16px 32px 0px grey;
    }
}
.top-profile-image-wrapper{
    border:1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius:5px;
    display:flex;
    align-items:center;
    justify-content: space-between;
    height:250px;
    width:50rem;
}
.personal-info-wrapper{
    border:1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius:5px;
    // display:flex;
    // align-items:center;
    // justify-content: space-between;
    height:450px;
    width:30rem;
    padding-left:1rem;
    margin-top:4rem;
    margin-bottom:2rem;
}
.personal-info-table{
    border-collapse: collapse;
    width:100%;
    margin-left:1rem;
    margin-top:4rem;
    height:200px;
    th td{
        border-collapse: collapse;
        padding: 5px;
        text-align: left;
    }
    th{
        width:40%;
    }
    td{
        width:60%;
    }
}